include:
  - infra-compose.yml
services:
  product-review-api:
    build: .
    depends_on:
      - postgres
      - redis
      - otel-lgtm
    ports:
      - 3001:3001
      - 9464:9464
    env_file:
      - .env
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-lgtm:4317
